* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
}

.viewport {
    width: 50vw;
    height: 50vh;
}

#viewport1 {
    grid-column: 1;
    grid-row: 1;
}

#viewport2 {
    grid-column: 2;
    grid-row: 1;
}

#viewport3 {
    grid-column: 1;
    grid-row: 2;
}

#viewport4 {
    grid-column: 2;
    grid-row: 2;
}

.motifdatatop {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    /* align-items: center; */
}

.motifdata {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    /* align-items: center; */
}

.flex {
    display: flex;
    justify-content: space-between;

}

.sequence {
    color: white;
    display: flex;
    /* margin: 22%; */
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}


.querydata {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    border: 3px solid #00ff00;

}

.mimicdata {
    position: fixed;
    top: 0;
    left: 50vw;
    width: 300px;
    border: 3px solid #00ff00;

}

.alndata {
    position: fixed;
    top: 50vh;
    left: 0;
    width: 300px;
    border: 3px solid #00ff00;

}